@import "src/shared/SCSS/color.scss";

.home-container {
  display: flex;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.details-container {
  background: $body-color;
  height: inherit;
  width: 90%;
  padding: 1.9rem;
  overflow: hidden;
  .details {
    border: 2px solid;
    padding: 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .details-partent {
    overflow-y: auto;
    height: 100vh;
  }
}

.item-intro {
  width: 80%;
  .description {
    margin: 0;
    text-transform: capitalize;
  }
}

.item-action {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  justify-content: space-between;

  .details-btn {
    background: $error-color;
    color: $white;
    font-size: 0.8rem;
    border-width: 2px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    padding: 0.4rem;
    &:hover {
      outline: 0;
    }
  }

  .add-comment {
    color: $error-color;
    font-size: 0.8rem;
    cursor: pointer;
  }
}

.date-details {
  display: flex;
  text-transform: capitalize;
  margin-top: 0.4rem;
  .date-item {
    margin-right: 1rem;
  }
  .comment-count {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .item-action {
    padding: 0;
  }
  .details-container .details {
    flex-direction: column;
  }
}
