@import "src/shared/SCSS/common.scss";

.sidebar-container {
  padding: 1.9em;
  height: 100%;
}
.img-container {
  @extend %flex-center;
  margin-bottom: 1rem;
  height: 5%;
  cursor: pointer;
  img {
    margin-right: 0.4rem;
  }
}
.logo {
  padding: 2rem 2rem 1rem;
}
.nav-link-container {
  height: 75%;
}
